.banner {
  height: 400px;
  background-image: url("../../images/background.png");
  color: white;
  background-size: cover;
  background-position: center;
  padding: 50px;
}


 .wtf {
  color: white;
  font-style: bold;
  width: 700px;
  height: 200px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), */
