.footer {
  background-color: #272838;
  padding: 30px 30px;
    text-align: center;
}

.footer a {
  color: white;
/*  display: flex;
  justify-content: space-between;
  align-items: center;*/
}

.footer p {
  color: white;
  text-align: center;
}

